@using NodeService.WebServer.UI.Diagrams.Components
@inherits LayoutComponentBase
@inject LayoutData LayoutData

@code {

}

@if (LayoutData.Info != null)
{
    <div class="floating alert alert-primary" style="z-index: 10000;" role="alert">
        <h4 class="alert-heading">@LayoutData.Title</h4>
        <p>@((MarkupString)LayoutData.Info)</p>
    </div>
}

@Body


