@using NodeService.WebServer.UI.Pages.TaskFlows.Designer.ViewModels


<div @ondrag:stopPropagation @ondragstart:stopPropagation>
    <ul class="list-group list-group-horizontal">
        @foreach (var taskStage in TaskStages)
        {
            <li class="list-group-item" style="padding:2px 2px 2px 2px;">
                <TaskFlowStageComponent 
                    TaskStage="@taskStage" 
                    TaskStageExecutionInstance="@FindTaskFlowStageExecutionInstance(taskStage)" 
                    OnRemoved="OnTaskStageRemoved" />
            </li>
        }
    </ul>
</div>


@code {
    [Parameter]
    public List<TaskFlowStageTemplate> TaskStages{ get; set; }

    [Parameter]
    public List<TaskFlowStageExecutionInstance> TaskStageExecutionInstances { get; set; }

    [Parameter]
    public EventCallback<TaskFlowStageTemplate> OnTaskStageRemoved { get; set; }

    private TaskFlowStageExecutionInstance? FindTaskFlowStageExecutionInstance(TaskFlowStageTemplate taskFlowStageTemplate)
    {
        return TaskStageExecutionInstances?.FirstOrDefault(x => x.TaskFlowStageTemplateId == taskFlowStageTemplate.Id);
    }
}
