@using NodeService.WebServer.UI.Pages.TaskFlows.Designer.ViewModels

<div>

    <Steps  >
        @foreach (var taskStage in TaskStages)
        {
            <Step Status="process" Title="@taskStage.Name" Icon="loading"/>
        }
    </Steps>
</div>

@code {
    RenderFragment processDot =@<Template>
        <Icon Type="loading" Theme="outline" Style="font-size: 16px" Spin />;
    </Template>;

    [Parameter]
    public List<TaskFlowStageTemplate> TaskStages { get; set; }
}
