@* @using NodeService.WebServer.UI.Pages.TaskFlows.Designer.Models


<div @ondrag:stopPropagation @ondragstart:stopPropagation>
    <Space Align="start">
        @foreach (var taskStage in TaskStages)
        {
            <SpaceItem>
                <TaskFlowStageComponent TaskStage="@taskStage"
                                        TaskStageExecutionInstance="@FindTaskFlowStageExecutionInstance(taskStage)"
                                        OnRemoved="OnTaskStageRemoved" />
            </SpaceItem>
        }
    </Space>
</div>


@code {
    [Parameter]
    public List<TaskFlowStageTemplate> TaskStages{ get; set; }

    [Parameter]
    public List<TaskFlowStageExecutionInstance> TaskStageExecutionInstances { get; set; }

    [Parameter]
    public EventCallback<TaskFlowStageTemplate> OnTaskStageRemoved { get; set; }

    private TaskFlowStageExecutionInstance? FindTaskFlowStageExecutionInstance(TaskFlowStageTemplate taskFlowStageTemplate)
    {
        return TaskStageExecutionInstances?.FirstOrDefault(x => x.TaskFlowStageTemplateId == taskFlowStageTemplate.Id);
    }
}
 *@