@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Renderers
<span class="title">@Group.Title</span>

<Button Type="@ButtonType.Link">@Group.DataContext.Name</Button>
<GroupNodes Group="Group" />

@foreach (var port in Group.Ports)
{
    <PortRenderer Port="port" Class="group-port"></PortRenderer>
}


@code {
    [Parameter] public TaskGroupNode Group { get; set; }
}
